<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
<link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Cardo" rel="stylesheet">
<!--<script src="/semantic/dist/semantic.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
  $(document).ready(function(){
    var url = 'http://localhost:3000';
    window.localStorage.setItem('appUrl',url);
    var html1 = "",
        html2 = "",
        html3 = "",
        html4 = "";
        currentUser = window.localStorage.getItem('Username'),
        html1 += ('<a class="ui inverted button" href="#" data-target="login.html">Log in</a>'); 
        html2 = ('<a class="ui inverted button" href="#" data-target="signup.html">Sign Up</a>');
        html3 += ('<a class="ui inverted button">Signed In As '+ currentUser +'</a>');
        html4 += ('<a class="ui inverted button logout" href="#" data-target="firstpage.html">Log Out</a>');
        console.log(window.localStorage.getItem('token'));
    if(!(window.localStorage.getItem('token'))){
    $('#login').append(html1);
    $('#signup').append(html2);
    } else {
        $('#signedin').append(html3);
        $('#logout').append(html4);
    }
$('.logout').click(function(){
    window.localStorage.removeItem('token');
    window.localStorage.removeItem('Username');
    window.localStorage.removeItem('User');
    window.localStorage.removeItem('userID');
    window.location.href = ('/');
    //$(this).addClass("active");
});
    // Set trigger and container variables
    var trigger = $('.ui.container .menu a'),
        container = $('#content');
    
    // Fire on click
    trigger.on('click', function(){
      // Set $this for re-use. Set target from data attribute
      var $this = $(this),
        target = $this.data('target'); 
        console.log(target);  
        console.log($this);    
      // Load target page into container
      container.load("partials/"+target);
      
      // Stop normal link behavior
      return false;
    });
  });
</script>
</head>
<body>
 
 <div class="pusher">
   <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a id="button" class="active item clickable" href="#" data-target="firstpage.html">Home</a>
        <a id="button" class="item clickable" href="#" data-target="about.html">About</a>
        <a id="button" class="item clickable" href="#" data-target="photos.html">Photos</a>
        <div class="right item">
          <a id="login"></a>
          <a id="signup"></a>
          <a id="signedin"></a>
          <a id="logout"></a>
        </div>
      </div>
    </div>
  </div>
 </div>
<div class="ui text container">
      <h1 class="ui center aligned header">
        COUTURE
      </h1>
      <h5 class="ui center aligned header">
        A BLOGGING PLATFORM
      </h5>
      <hr>
</div>
<div id="content"></div>
<script> 
$(function(){
  $("#content").load("partials/firstpage.html"); 
});
$(function() {                       //run when the DOM is ready
  $(".clickable").click(function() {  //use a class, since your ID gets mangled
    $("a.active").removeClass("active"); //remove class from active element
    $(this).addClass("active");      //add the class to the clicked element
  });
});
</script> 
</body>
</html>