h1.ui.header{
    font-size: 6rem;
    font-family: 'Cardo', serif;
    color: darkslategray;
    padding-top: 20px;
    letter-spacing: 5px;
}

h5.ui.header{
    margin-top: 0;
    color: darkgoldenrod;
}

hr{
    width: 40%;
}

.ui.menu:not(.vertical) .item>.button{
    margin-right: 5px;
}