<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</script>
<div class="ui container">
    <div class="ui card">
        <a class="image" href="#">
            <img src="https://4.bp.blogspot.com/-4MU14nPxmxU/VynsLEFY1YI/AAAAAAAAD2k/vmYk4OcfcrQtGhv_sKGxXmDRofYgLm3NwCLcB/s640/3-1.jpg">
        </a>
        <div class="content">
            <a class="header" href="#"></a>
            <div class="meta">
                <a>Sport</a>
            </div>
        </div>
    </div>
</div>
   

