<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</script>
<div class="ui container">
    <div class="ui card">
        <a class="image" href="#">
            <div id ="blog">
        </a>
        <div class="content"></div>
        </div>
    </div>
</div>
 <script> 

 function hexToBase64(str) {
    return btoa(String.fromCharCode.apply(null, str.replace(/\r|\n/g, "").replace(/([\da-fA-F]{2}) ?/g, "0x$1 ").replace(/ +$/, "").split(" ")));
}

 $(document).ready(function() {
 var url = window.localStorage.getItem('appUrl'); 
   $.ajax({
        url: url + '/api/blogs',
        type: 'GET', 
        //beforeSend: function(xhr){xhr.setRequestHeader('Authorization', window.localStorage.getItem('token'));},
        success: function(data) {
            var blogs = JSON.parse(data);
            $.each(blogs , function (i, blog) {
                $.each(blog,function(j, blog){
                    var img = document.createElement('img');
                    //img.src = 'data:image/jpeg;base64,' + btoa(""+blog.image.data);
                    //document.body.appendChild(img);
                    img.src = 'data:image/jpeg;base64,' + hexToBase64(""+blog.image.data);
                    var html = "";
                    html += ('<img class="ui card" src=' + img.src + '><a class="image" href="#">'); 
                    $("#blog").append(html);
                    console.log(img);
                })
                }); 

            return data;
        },
        error: function(data){
          console.log(data);
        }
});
});
</script>

