<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
<link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Cardo" rel="stylesheet">
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/semantic/dist/semantic.min.js"></script>
</head>
<body>
  <div class="ui sidebar inverted vertical menu">
    <a class="item">
      Home
    </a>
    <a class="item">
      About
    </a>
    <a class="item">
      Photos
    </a>
  </div>
 
 <div class="pusher">
   <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="active item">Home</a>
        <a class="item">About</a>
        <a class="item">Photos</a>
        <div class="right item">
          <a class="ui inverted button">Log in</a>
          <a class="ui inverted button">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
<div class="ui text container">
      <h1 class="ui center aligned header">
        COUTURE
      </h1>
      <h5 class="ui center aligned header">
        A BLOGGING PLATFORM
      </h5>
      <hr>
</div>
<script>
$('.toc.item').click(function(){
    $('.ui.sidebar')
        .sidebar('toggle');
    });     
</script>
</body>
</html>