<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<div class="ui container">
<form class="ui form center aligned" onsubmit="return submitdata();">
    <h2 class="ui center aligned header">LOG IN</h2>
  <div class="field">
    <label>Username</label>
    <input class="ui center aligned" id="username" type="text"  placeholder="Username">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" id="password"  placeholder="Password">
  </div>
  <button class="ui button" type="submit">Login</button>
</form>
</div>
<script> 

function submitdata(){
    var credentials = {
        username : document.getElementById("username").value,
        password : document.getElementById("password").value
    };
    var url = window.localStorage.getItem('appUrl');
    console.log(credentials.username);
        $.ajax({
            url: url + '/login',
            type: 'POST', 
            data: { username: credentials.username, password: credentials.password },
            success: function(Data) {
                     window.localStorage.setItem('token', Data.token);
                     window.localStorage.setItem('User', credentials.username);
                     window.localStorage.setItem('Username', Data.user.username);
                     window.localStorage.setItem('userID', Data.user._id);
                     if(Data.redirect) {
                        window.location.href = Data.redirectURL;
                     }
                    },
            beforeSend: function(xhr){xhr.setRequestHeader('Authorization', window.localStorage.getItem('token'));},
            error: function() {
                    alert('Error occured');
                    }
        });
        
}
</script>