<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<div class="ui container">
<form class="ui form center aligned" id="idForm"  action="/new" method=POST enctype="multipart/form-data" >
    <h2 class="ui center aligned header">Create a New Blog</h2>
  <div class="field">
    <label>Title</label>
    <input class="ui center aligned" id="title" name="title" type="text"  placeholder="Blog Title"></input>
  </div>
  <div class="field">
    <label>Text</label>
    <textarea id="text" name="text"></textarea>
  </div>
  <div class="field">
    <label>Image</label>
    <input type="file" id="file" name="imgFile" accept="image/*"/>
  </div>
  <button class="ui button" id="submit"type="submit">Submit</button>
</form>
</div>
<script> 

$("#idForm").submit(function(e) {
  var data = $(this).serialize();
      var url = window.localStorage.getItem('appUrl');
      $.post({
              url: url + '/new', 
              data: data,
              // beforeSend: function(xhr){xhr.setRequestHeader('Authorization', window.localStorage.getItem('token'));},
              // contentType: false,
              processData: false,
              // async: false,
              cache: false,
              success: function(data) {
                console.log(data);
                if(data.redirect) {
                    window.location.href = data.redirectURL;
                }
              }
              // error: function(data){
              //   console.log(data);
              // }
      });
      // return false;
});
</script>