<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<div class="ui container">
<form class="ui form center aligned" id="idForm" method="POST">
    <h2 class="ui center aligned header">Create a New Blog</h2>
  <div class="field">
    <label>Title</label>
    <input class="ui center aligned" id="username" name="username" type="text"  placeholder="Blog Title"></input>
  </div>
  <div class="field">
    <label>Text</label>
    <textarea></textarea>
  </div>
  <div class="field">
    <label>Image</label>
    <input type="file" />
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>
</div>
<script> 

</script>